{% extends "base.html" %}
{% from "macros/forms.html" import render_field %}
{% block title %}Change Password | Smart Class Management System{% endblock %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-7 col-lg-5">
  <div class="card shadow-sm"><div class="card-body p-4">
    <h1 class="h3 mb-3">Change temporary password</h1>
    <form method="post">
      {{ form.hidden_tag() }}
      {% for field in [form.current_password, form.new_password, form.confirm_password] %}
        {{ render_field(field, required=true, autocomplete='current-password' if field.name == 'current_password' else 'new-password') }}
      {% endfor %}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div></div>
</div></div>
{% endblock %}
