{% extends "base.html" %}
{% from "macros/forms.html" import render_field %}
{% block title %}Temporary password | SCMS{% endblock %}
{% block content %}
  <h1>Issue temporary password</h1>
  <p>For {{ managed_user.full_name }}. The password will not be shown after submission.</p>
  <form method="post" class="card card-body" data-confirm-message="Reset this user's password? Their current password will stop working.">
    {{ form.hidden_tag() }}
    {% for field in [form.temporary_password, form.confirm_password] %}{{ render_field(field, required=true, autocomplete='new-password') }}{% endfor %}
    {{ form.submit(class="btn btn-primary", value="Set temporary password") }}
  </form>
{% endblock %}
